# Base de Datos Intermedia (MongoDB)
MONGODB_URI="mongodb+srv://<usuario>:<password>@cluster.mongodb.net/nextpwa?retryWrites=true&w=majority"

# Configuración de Sesiones de Autenticación (NextAuth)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generar_un_secreto_criptografico_seguro"

# Configuración de CRM Desacoplado
CRM_PROVIDER="hubspot" # Opciones soportadas: hubspot, salesforce, mock
HUBSPOT_ACCESS_TOKEN="pat-eu1-xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
